<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <img src="images/b2.png" />
        <p style="color: chocolate">
            Vestibulum sit amet
        </p>
        <p>
            Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh
            a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.
        </p>
        <p>
            Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh
            a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.
        </p>
        <p>
            Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh
            a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.
        </p>
        <p>
            Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh
            a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.
        </p>
        <p>
            Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh
            a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.
        </p>
    </div>

</div>